{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block nav2 %}active{% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{ name }}. {{ dop }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6 ">
        {% if perms.problem.user_supermoderator %}
        <a href="{% url 'exportxls' %}" class="btn btn-app float-sm-right">
              <i class="fas fa-download"></i> Выгрузить No
        </a>
        {% endif %}
        {% if perms.problem.user_supermoderator %}
        <a class="btn btn-app float-sm-right" id="exportxls">
              <i class="fas fa-download"></i> Выгрузить
        </a>
        {% endif %}
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            {% if filter %}
          <div class="row">
            <div class="col">
                <button type="button" class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#modal-filter">Фильтрация</button>
            </div>
          </div>
          {% endif %}
            {% if filter2 %}
                <form action="" method="get">
                    <div class="row">
                    <div class="col-3">
                        <div id="div_id_organization" class="form-group">
                            <div class="">
                                <select name="organization" class="select form-control" id="id_organization">
                                    <option value="" selected="">---------</option>
                                    {% for i in filter2 %}
                                    <option value="{{i.pk}}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                    <button type="submit" class="btn btn-primary">Фильтр</button>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive p-0">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if filter %}
<div class="modal fade" id="modal-filter" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Фильтрация</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="" method="get" id="formfilter">
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                      {{ filter.form.temat|as_crispy_field }}
                    </div>
                    <div class="col-4">
                      {{ filter.form.status|as_crispy_field }}
                    </div>
                    <div class="col-4">
                      {{ filter.form.ciogv|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
    {#                  {{ filter.form.orgs|as_crispy_field }}#}
                    </div>
                    <div class="col-4">
                      {{ filter.form.statussys|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        <div id="div_id_dateotv" class="form-group">
                            <label for="id_dateotv">
                                Дата ответа по доброделу
                            </label>
                            <div class="">
                                <input type="date" name="dateotv" class="dateinput form-control" id="id_dateotv">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Фильтр</button>
            </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endif %}
{% endblock %}
{% block ends %}
<script>
    var button = $('#exportxls');
    if (location.search === '') {
        var url = location.href + '?action=export_xls';
    } else {
        var url = location.href + '&action=export_xls';
    }
    button.attr('href', url);
    {#$('#exportxls').click(function (event) {#}
    {#    var $data = {};#}
    {#    $('#formfilter').find ('input, select').each(function() {#}
    {#      $data[this.name] = $(this).val();#}
    {#    });#}
    {#    $data['action'] = 'export_xls';#}
    {#    $data['csrfmiddlewaretoken'] = $.cookie('csrftoken');#}
    {#    var url = location.pathname;#}
    {#    var gets = $.get(url, $data);#}
    {#})#}
</script>
{% endblock %}