{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Анализ обращений{% endblock %}
{% block nav2 %}active{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><b>Страница анализа обращений</b></h1>
      </div><!-- /.col -->
        <div class="col-sm-6">
            <button class="btn btn-app float-sm-right" data-toggle="modal" data-target="#modal-analysis">
              <i class="fas fa-download"></i> Провести анализ
            </button>
        </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">

    <div class="row">
        <div class="col">
            <div class="card" id="main-card" hidden>
                <div class="card-header">
                    <h5 class="card-title"></h5>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" id="table-card" hidden>
                <div class="card-header">
                    <h5 class="card-title"></h5>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu" style="">
                          <button href="" class="dropdown-item" id="extend-term">Продлить выделенные назначения</button>
                          <a class="dropdown-divider"></a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                </div>
                <div class="card-body">
                  <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                      <tr>
                        <th>Номер добродела</th>
                        <th>Дата ответа по доброделу</th>
                        <th>Статус в доброделе</th>
                        <th>Номер назначения</th>
                        <th>Дата ответа по назначению</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" id="modal-analysis">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Проведение анализа</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" action="{% url 'analysis' %}" method="post" id="form-analysis">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <label>Категория</label>
                <select class="form-control" id="cate">
                  <option value="1">На сегодня</option>
                  <option value="2">Просроченные</option>
                </select>
              </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Запросить</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="modal-problem" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Обращения</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div id="jsGrid" class="jsgrid">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block ends %}
<script>
$('#form-analysis').submit(function (event) {
    event.preventDefault();
    var form = $( this ),
        CSRFtoken = jQuery("[name=csrfmiddlewaretoken]").val(),
        url = form.attr('action'),
        cat = form.find('select[id="cate"]').val();
    var data = $.post(url, {csrfmiddlewaretoken: CSRFtoken, cate:cat}, testfunct);
});

$(document).ready(function() {
  table = $('#example').DataTable({
    responsive: true,
    select: true,
    ordering: false,
    language: {
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "infoPostFix": "",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
      },
      "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
      },
      "select": {
        "rows": {
          "_": "Выбрано записей: %d",
          "0": "Кликните по записи для выбора",
          "1": "Выбрана одна запись"
        }
      }
    },
    dom: 'Blfrtip',
    buttons: [
      {
        extend: 'print',
        text: 'Распечатать'
      },
      {
        extend: 'csv',
        text: 'CSV'
      },
      {
        extend: 'excelHtml5',
        text: 'EXCEL'
      },
      {
        extend: 'selectAll',
        text: 'Выбрать всё'
      },
      {
        extend: 'selectNone',
        text: 'Снять выделение'
      }
    ],
    columns: [
      { "data": "nomdobr" },
      { "data": "dateotv" },
      { "data": "status" },
      { "data": "pk" },
      { "data": "date" }
    ]
  });
});

function testfunct(dates) {
  table.clear();
  table.rows.add(dates['data']);
  table.draw();
  var modal = $('#modal-analysis'),
      card = $('#main-card'),
      tcard = $('#table-card');
  modal.modal('hide');
  card.find('h5[class="card-title"]').text(dates['type']['text']);
  card.find('div[class="card-body"]').empty();
  var a = $(dates['kolvo']['all'] + dates['kolvo']['naz'] + dates['kolvo']['prob']);
  card.find('div[class="card-body"]').append(a);
  card.removeAttr('hidden')
  tcard.removeAttr('hidden')
}

$('#extend-term').click(function(){
  var date = table.rows( { selected: true } ).data(),
      dates = Array(),
      index;
  for (index = 0; index < date.length; ++index) {
    dates.push(date[index]['pk'])
  };
  var url = '{% url 'analysis' %}',
      CSRFtoken = jQuery("[name=csrfmiddlewaretoken]").val(),
      post = $.post(url, {csrfmiddlewaretoken: CSRFtoken, dates: dates});
  post.done(function(dates) {
      Swal.fire({
          title: 'Обновление назначений',
          text: 'Количество обработанных обращений ' + dates['kolvo']['succes'] + 'из ' + dates['kolvo']['all'] + ' обращений',
          icon: 'success'
      })
  })
})
</script>
{% endblock %}
