{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Статистика{% endblock %}
{% block nav5 %}active{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Статистика</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
    <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                    <div class="card">
                      <div class="card-header">
                            <h3 class="card-title">Отчеты</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block bg-gradient-success btn-lg" data-toggle="modal" data-target="#modal-report1">Определенный период</button>
                            </div>
                             <div class="col-md-2">
                                <button type="button" class="btn btn-block bg-gradient-success btn-lg" id="butreport2" action="9">Не закрытые обращения</button>
                            </div>
                             <div class="col-md-2">
                                <button type="button" class="btn btn-block bg-gradient-success btn-lg" id="butreport3" data-toggle="modal" data-target="#modal-report3">Статистика по категориям</button>
                            </div>
                         </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Назначения</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='1'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body" id="bodycard1">

                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Обращения</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='2'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Статистика организаций</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='3'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-6">
                 <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Статистика ТУ</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='4'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if user.is_superuser %}
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Топ 25 авторов</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='5'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                      <div id="jsGrid1" class="jsgrid">

                      </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Новые обращения</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='6'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">Топ 5 категорий за период</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool addchart" data-card-widget="collapse" action='7'><i class="fas fa-plus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                      <div id="jsGrid2" class="jsgrid">
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal-report1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Отчет обращений за определенный период</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form role="form" action="8" method="post" id="report1">
        {% csrf_token %}
        <div class="modal-body">
            <div class="row">
              <div class="col">
                <div id="div_id_date" class="form-group">
                  <label for="id_date" class="">Дата создания обращения от<span class="asteriskField">*</span></label>
                  <div class="">
                    <input type="date" name="date" maxlength="50" class="textinput textInput form-control" id="id_date_from" required>
                    <small id="hint_id_date"></small>
                  </div>
                </div>
              </div>
                <div class="col">
                <div id="div_id_date" class="form-group">
                  <label for="id_date" class="">Дата создания обращения до<span class="asteriskField">*</span></label>
                  <div class="">
                    <input type="date" name="date" maxlength="50" class="textinput textInput form-control" id="id_date_before" required>
                    <small id="hint_id_date"></small>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Запросить</button>
        </div>
        </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="modal-report3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Отчет статистики по категориям за период</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form role="form" action="10" method="post" id="report3">
        {% csrf_token %}
        <div class="modal-body">
            <div class="row">
              <div class="col">
                <div id="div_id_date" class="form-group">
                  <label for="id_date" class="">Дата создания обращения от<span class="asteriskField">*</span></label>
                  <div class="">
                    <input type="date" name="date" maxlength="50" class="textinput textInput form-control" id="id_date_from" required>
                    <small id="hint_id_date"></small>
                  </div>
                </div>
              </div>
                <div class="col">
                <div id="div_id_date" class="form-group">
                  <label for="id_date" class="">Дата создания обращения до<span class="asteriskField">*</span></label>
                  <div class="">
                    <input type="date" name="date" maxlength="50" class="textinput textInput form-control" id="id_date_before" required>
                    <small id="hint_id_date"></small>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Запросить</button>
        </div>
        </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
{% block ends %}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/jsgrid/jsgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/jsgrid/jsgrid-theme.min.css' %}">
    <script src="{% static 'adminlte/plugins/jsgrid/jsgrid.min.js' %}"></script>
    <script src="{% static 'problem/pages/dashboard.js' %}"></script>
{% endblock %}
