{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Жалоба №{{ np.nomdobr }}{% endblock %}
{% block nav2 %}{% endblock %}
{% block content %}
<div class="content-header">
</div>
<section class="content">
<div class="row">
  <div class="col">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-exclamation-triangle"></i>
          Сообщение
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Разработка!</h5>
          Данный раздел находится в разработке!
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  </div>

</section>
{% endblock %}
