{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block title %}Главная{% endblock %}
{% block nav1 %}active{% endblock %}
{% block nav101 %}active{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom shadow p-3 mb-1 bg-white rounded">
  <h1 class="h2">Все жалобы</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="dropdown mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Кураторы
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for i in curat %}
        <a class="dropdown-item{{ i.1 }}" href="{% url 'curators' i.0.pk %}">{{ i.0.name }}</a>
        {% endfor %}
        <a class="dropdown-item" href="{% url 'index' %}">Все</a>
      </div>
    </div>
    <div class="btn-group mr-2">
      {% if user.is_authenticated %}
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#createModal">Добавить/Поиск</button>
      {% endif %}
      <button type="button" class="btn btn-sm btn-outline-secondary">Выгрузить</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить жалобу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="{% url 'add' %}" method="post">
          {% csrf_token %}
          <div id="div_id_nomdobr" class="form-group">
            <label for="id_nomdobr" class="">Номер жалобы</label>
            <input class="textinput textInput form-control" type="number" name="nomdobr" maxlength="30" id="id_nomdobr" required autofocus>
          </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="shadow p-3 mb-5 bg-white rounded">
  {% render_table table %}
</div>


<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{% endblock %}
