{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Профиль{% endblock %}
{% block nav2 %}active{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Пользователь: <b>{{user.first_name}} {{user.last_name}}</b></h1>
      </div><!-- /.col -->
        <div class="col-sm-6">
        </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
{% csrf_token %}
{% if not perms.problem.user_ty or user.is_superuser %}
  <div class="row">
    {% if perms.problem.user_moderator %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-secondary" id="box1">
        <div class="inner">
          <h3>{{ kolvo.kolclose }}</h3>
          <p>Ответов</p>
        </div>
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <a href="{% url 'closed' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-info" id="box2">
            <div class="inner">
              <h3>{{ kolvo.kolno }}</h3>
              <p>Не распределенные обращения</p>
            </div>
            <div class="icon">
              <i class="fas fa-info"></i>
            </div>
            <a href="{% url 'noproblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-info" id="box8">
            <div class="inner">
              <h3></h3>
              <p>Обращения без ТУ</p>
            </div>
            <div class="icon">
              <i class="fas fa-info"></i>
            </div>
            <a href="{% url 'typroblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
     <div class="col-12 col-sm-6 col-md-3">
     {% else %}
     <div class="col-12 col-sm-6 col-md-12">
     {% endif %}
      <div class="small-box bg-info" id="box3">
        <div class="inner">
          <h3>{{ kolvo.kolall }}</h3>
          <p>Всего не закрытых обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <a href="{% url 'allproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="row">
    {% if perms.problem.user_moderator %}
    <div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-success" id="box4">
        <div class="inner">
          <h3>{{ kolvo.me }}</h3>
          <p>Моих обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="{% url 'meproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    {% else %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-secondary" id="box1">
        <div class="inner">
          <h3>{{ kolvo.kolclose }}</h3>
          <p>Ответов</p>
        </div>
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <a href="{% url 'closed' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    {% endif %}
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-primary" id="box5">
        <div class="inner">
          <h3>{{ kolvo.podx }}</h3>
          <p>Подходит срок обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'podxproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-warning" id="box6">
        <div class="inner">
          <h3>{{ kolvo.today }}</h3>
          <p>Обращения на сегодня</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'todayproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-danger" id="box7">
        <div class="inner">
          <h3>{{ kolvo.prosr }}</h3>
          <p>Просроченных обращений</p>
        </div>
        <div class="icon">
          <i class="fas fa-ban"></i>
        </div>
        <a href="{% url 'prosrproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
</div>
    {% else %}
      <div class="small-box bg-info" id="box3">
        <div class="inner">
          <h3>{{ kolvo.kolall }}</h3>
          <p>Всего не закрытых обращений</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <a href="{% url 'allproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
           <div class="card">
            <div class="card-header">
              <h3 class="card-title">Личная информация:</h3>
            </div>
            <div class="card-body">
            {% if not perms.problem.user_ty or user.is_superuser %}
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><i class="fas fa-briefcase"></i> Организация: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{ user.userprofile.org}}" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><i class="fas fa-building"></i> Должность: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{ user.userprofile.post}}" disabled>
                </div>
              </div>
            {% else %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><i class="fas fa-briefcase"></i> Территориальное управление: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{ user.userprofile.ty}}" disabled>
                </div>
            </div>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="col-6">

        </div>
    </div>

</section>
{% endblock %}

{% block ends %}
<script>
$(document).ready(function () {
    var url = '{% url "index" %}';
    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
    var box = $('.small-box')
    $.map(box, function (item) {
        var box = $(item);
        var posting = $.ajax({
            url: url,
            type: 'POST',
            data: {csrfmiddlewaretoken: CSRFtoken, box: box.attr('id')},
            success: onAjaxSuccess
        });
    });
});

function onAjaxSuccess(data) {
    if (data['mes'] === 'succes') {
        var box = $('#'+data['boxn']);
        box.find('.inner').find('h3').text(data['kolvo']);
    }
}
</script>
{% endblock %}