{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>Вход</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link href="{% static 'problem/login.css' %}" rel="stylesheet">
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  </style>
</head>
<body>
  {% include "problem/formlogin.html" %}

</body>
