{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Жалоба №{{ np.nomdobr }}{% endblock %}
{% block content %}
{% if auth %}
<form method="post">
  {% csrf_token %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom shadow p-3 mb-1 bg-white rounded">
    <h1 class="h2">Жалоба №{{ np.nomdobr }} </h1>
    <div class="btn-group mr-2">
      <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'termadd' np.pk %}">Добавить срок</a>
      <input type="submit" class="btn btn-sm btn-outline-secondary" name='' value="Сохранить">
      <a type="button" class="btn btn-sm btn-outline-secondary" role='button' href='https://dobrodel.mosreg.ru/claims/{{ np.nomdobr }}' target="_blank">Перейти на добродел</a>
    </div>
  </div>

    <div class="row">
      <div class="col border shadow p-3 mb-1 bg-white rounded">
      <div id="div_id_table" class="form-group">
        <label for="id_table" class=""><p class="h3">Сроки выполнения:</p></label>
        <div class="table-container">
          <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light">
              <tr>
                <th class="orderable">Срок до</th>
                <th class="orderable">Куратор</th>
                <th class="orderable">Описание</th>
                <th class="orderable">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% for i in srok %}
              <tr class="even">
                <td>{{i.date}}</td>
                <td>{{i.curat}}</td>
                <td>{{i.desck}}</td>
                <td><a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'termdel' i.pk np.pk %}">Удалить</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <div class="col border shadow p-3 mb-1 bg-white rounded">
          <div class="row">
            <div class="col">
              {{ formset.temat|as_crispy_field }}
            </div>
            <div class="col">
              {{ formset.adres|as_crispy_field }}
            </div>
            <div class="col">
              {{ formset.status|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ formset.ciogv|as_crispy_field }}
            </div>
            <div class="col">
              {{ formset.datecre|as_crispy_field }}
            </div>
            <div class="col">
              {{ formset.dateotv|as_crispy_field }}
            </div>
          </div>
          {{ formset.text|as_crispy_field }}

      </div>
    </div>


</form>
{% else %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom shadow p-3 mb-1 bg-white rounded">
  <h1 class="h2">Жалоба №{{ np.nomdobr }} </h1>
  <div class="btn-group mr-2">
    <a type="button" class="btn btn-sm btn-outline-secondary" role='button' href='https://dobrodel.mosreg.ru/claims/{{ np.nomdobr }}' target="_blank">Перейти на добродел</a>
  </div>
</div>
  <div class="row">
    <div class="col border shadow-sm p-3 mb-5 bg-white rounded ">
      <div id="div_id_tablecur" class="form-group">
        <label for="id_tablecur" class=""><p class="h3">Кураторы:</p></label>
        <div class="table-container">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="orderable">Срок до</th>
                <th class="orderable">Куратор</th>
              </tr>
            </thead>
            <tbody>
              {% for i in srok %}
              <tr>
                <td><p class="h5">{{i.date}}</p></td>
                <td><p class="h5">{{i.curat}}</p></td>
              </tr>
              <tr>
                <td colspan="2">Описание: {{i.desck}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </div>
    <div class="col border shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col">
            <div id="div_id_temat" class="form-group">
              <label for="id_temat" class="">Тематика</label>
              <div class="">
                <input type="text" name="temat" maxlength="20" class="textinput textInput form-control" id="id_temat" value="{{ prob.temat }}" readonly>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="div_id_adres" class="form-group">
              <label for="id_adres" class="">Адрес</label>
              <div class="">
                <input type="text" name="adres" maxlength="255" class="textinput textInput form-control" id="id_adres" value="{{ prob.adres }}" readonly>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="div_id_status" class="form-group">
              <label for="id_status" class="">Статус</label>
              <div class="">
                <input type="text" name="status" maxlength="50" class="textinput textInput form-control" id="id_status" value="{{ prob.status }}" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="div_id_ciogv" class="form-group">
              <label for="id_ciogv" class="">ЦИОГВ</label>
              <div class="">
                <input type="text" name="status" maxlength="50" class="textinput textInput form-control" id="id_ciogv" value="{{ prob.ciogv }}" readonly>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="div_id_datecre" class="form-group">
              <label for="id_datecre" class="">Дата создания</label>
              <div class="">
                <input type="text" name="status" maxlength="50" class="textinput textInput form-control" id="id_datecre" value="{{ prob.datecre }}" readonly>
              </div>
            </div>
          </div>
          <div class="col">
            <div id="div_id_dateotv" class="form-group">
              <label for="id_dateotv" class="">Дата ответа исполнителя</label>
              <div class="">
                <input type="text" name="status" maxlength="50" class="textinput textInput form-control" id="id_dateotv" value="{{ prob.dateotv }}" readonly>
              </div>
            </div>
          </div>
        </div>
        <div id="div_id_text" class="form-group">
          <label for="id_text" class="">Текст жалобы</label>
          <div class="">
            <textarea name="text" cols="20" rows="3" class="textarea form-control" id="id_text" readonly>{{ prob.text }}</textarea>
          </div>
        </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="termModal" tabindex="-1" role="dialog" aria-labelledby="termModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить срок выполнения задачи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="{% url 'add' %}" method="post">
          {% csrf_token %}
          <div id="div_id_date" class="form-group">
            <label for="id_date" class="">Срок до</label>
            <input class="textinput textInput form-control" type="date" name="date" maxlength="30" id="id_date" required autofocus>
          </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
