{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Назначение №{{ term.pk }}{% endblock %}
{% block nav2 %}active{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Назначение № <b>{{ term.pk }}</b></h1>
      </div><!-- /.col -->
      <div class="col-sm-6 ">
        <a href="{% url 'problem' term.problem.nomdobr %}" class="btn btn-app float-sm-right"">
              <i class="fas fa-download"></i> К проблеме
        </a>
        <a href="" class="btn btn-app float-sm-right" data-toggle="modal" data-target="#modal-answer-{{ term.pk }}">
              <i class="fas fa-download"></i> Ответить
        </a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div class="modal fade" id="modal-answer-{{ term.pk }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ответ на назначение №{{ term.pk }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" action="{% url 'addanswer' term.pk %}" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
          {{ answeradd.text|as_crispy_field }}
          {{ answeradd.image|as_crispy_field }}
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Ответить</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Описание назначения:</h3>
        </div>
        <div class="card-body">
            <div class="col">
                <div id="div_id_ciogv" class="form-group">
                  <label for="id_ciogv" class="">Срок до:</label>
                  <div class="">
                    <input type="text" name="ciogv" value="{{ term.date }}" class="dateinput form-control" id="id_ciogv" disabled="">
                  </div>
              </div>
            </div>
            <div class="col">
                <div id="div_id_datecre" class="form-group">
                  <label for="id_datecre" class="">Куратор назначения:</label>
                  <div class="">
                    <input type="text" name="datecre" value="{{ term.curat }}" class="dateinput form-control" id="id_datecre" disabled="">
                  </div>
                </div>
            </div>
            <div class="col">
              <div id="div_id_datecrok" class="form-group">
                <label for="id_datecrok" class="">Статус назначения:</label>
                <div class="">
                  <input type="text" name="datecrok" value="{{ term.get_status_display }}" class="dateinput form-control" id="id_datecrok" disabled="">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Ответы:</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="orderable">Дата ответа</th>
                <th class="orderable">Статус ответа</th>
                <th class="orderable">Пользователь</th>
                <th class="orderable">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% for i in answers %}
              <tr>
                <td>{{ i.datecre }}</td>
                <td>{{ i.get_status_display }}</td>
                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                <td>
                  {% if perms.problem.change_answer %}
                    {% if i.status != '2' %}
                      <a class="btn btn-sm btn-info" href="{% url 'answer_approve' i.pk %}">Утвердить</a>
                      <a class="btn btn-sm btn-danger" href="{% url 'answer_modify' i.pk %}">На доработку</a>
                    {% endif %}
                    <a class="btn btn-sm btn-success" href="" data-toggle="modal" data-target="#modal-answerphoto-{{ i.pk }}">Фотографии</a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Текст ответа:</td>
                <td colspan="3"><b>{{ i.text }}</b></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% for i in answers %}
  <div class="modal fade" id="modal-answerphoto-{{ i.pk }}">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Фотографии ответа {{ i.pk }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <h1>В разработке.</h1>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{% endfor %}
</section>
{% endblock %}
