{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% block name %}Главная{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Все жалобы</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Кураторы
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for i in curat %}
        <a class="dropdown-item" href="{% url 'curators' i.pk %}">{{ i.name }}</a>
        {% endfor %}
        <a class="dropdown-item" href="{% url 'index' %}">Все</a>
      </div>
    </div>
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Изменить/Добавить</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% for table in tables %}
  {% render_table table %}
  {% endfor %}
{% endblock %}
