{% extends "layout/basic.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Анализ обращений{% endblock %}
{% block nav2 %}active{% endblock %}
{% block content %}
<div class="content-header">
<div class="row">
    <div class="col">
        {% csrf_token %}
        <div class="card" id="table-card">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" style="">
                      <button href="" class="dropdown-item" id="extend-term">Продлить выделенные назначения</button>
                      <a class="dropdown-divider"></a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
            <div class="card-body">
              <table id="example" class="table table-bordered table-striped table-head-fixed " style="width:100%">
                <thead>
                  <tr>
                    <th>Номер</th>
                    <th width="5%">Дата ответа по доброделу</th>
                    <th width="10%">Адрес</th>
                    <th>Тематика</th>
                    <th>Подкатегория</th>
                    <th>Статус в доброделе</th>
                    <th>Статус в системе</th>
                    <th>Дата создания</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block ends %}
<script>
  $(document).ready(function() {
    table = $('#example').DataTable({
      autoWidth: false,
      columnDefs: [
        {
          targets: ['_all'],
          className: 'mdc-data-table__cell'
        }
      ],
      scrollX: true,
      responsive: false,
      select: true,
      ordering: false,
      ajax: {
        "url": '{% url 'testrequest' %}',
        "data": function (d) {
          d.action = '{{ str }}'
          d.csrfmiddlewaretoken = getCookie('csrftoken')
        },
        "type": "POST"
      },
      language: {
        "processing": "Подождите...",
        "search": "Поиск:",
        "lengthMenu": "Показать _MENU_ записей",
        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
        "infoEmpty": "Записи с 0 до 0 из 0 записей",
        "infoFiltered": "(отфильтровано из _MAX_ записей)",
        "infoPostFix": "",
        "loadingRecords": "Загрузка записей...",
        "zeroRecords": "Записи отсутствуют.",
        "emptyTable": "В таблице отсутствуют данные",
        "paginate": {
          "first": "Первая",
          "previous": "Предыдущая",
          "next": "Следующая",
          "last": "Последняя"
        },
        "aria": {
          "sortAscending": ": активировать для сортировки столбца по возрастанию",
          "sortDescending": ": активировать для сортировки столбца по убыванию"
        },
        "select": {
          "rows": {
            "_": "Выбрано записей: %d",
            "0": "Кликните по записи для выбора",
            "1": "Выбрана одна запись"
          }
        }
      },
      dom: 'Blfrtip',
      buttons: [
        {
          extend: 'print',
          text: 'Распечатать'
        },
        {
          extend: 'csv',
          text: 'CSV'
        },
        {
          extend: 'excelHtml5',
          text: 'EXCEL'
        },
        {
          extend: 'selectAll',
          text: 'Выбрать всё'
        },
        {
          extend: 'selectNone',
          text: 'Снять выделение'
        }
      ]
    });
  });
</script>
{% endblock %}
