{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>{% block title %}Главная{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link href="{% static 'problem/basic.css' %}" rel="stylesheet">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Жалобы</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Кураторы</a>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <a class="btn btn-outline-success my-2 my-sm-0" type="button" href="{% url 'login' %}">Вход</a>
        </div>
      </div>
    </nav>
  </header>

      <main role="main" class="flex-shrink-0">
        {% block content %}
        {% endblock %}
      </main>

</body>
</html>
