  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-success" id="box8">
            <div class="inner">
              <h3></h3>
              <p>Моих обращения</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus"></i>
            </div>
            <a href="{% url 'meproblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
     <div class="col-12 col-sm-6 col-md-9">
      <div class="small-box bg-info" id="box3">
        <div class="inner">
          <h3>{{ kolvo.kolall }}</h3>
          <p>Всего не закрытых обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <a href="{% url 'allproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-secondary" id="box1">
        <div class="inner">
          <h3>{{ kolvo.kolclose }}</h3>
          <p>Ответов</p>
        </div>
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <a href="{% url 'closed' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-primary" id="box5">
        <div class="inner">
          <h3>{{ kolvo.podx }}</h3>
          <p>Подходит срок обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'podxproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-warning" id="box6">
        <div class="inner">
          <h3>{{ kolvo.today }}</h3>
          <p>Обращения на сегодня</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'todayproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-danger" id="box7">
        <div class="inner">
          <h3>{{ kolvo.prosr }}</h3>
          <p>Просроченных обращений</p>
        </div>
        <div class="icon">
          <i class="fas fa-ban"></i>
        </div>
        <a href="{% url 'prosrproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
</div>

