  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-secondary" id="closed">
        <div class="inner">
          <h3>0</h3>
          <p>Ответов</p>
        </div>
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <a href="{% url 'problems' action='closed' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-info" id="noproblem">
            <div class="inner">
              <h3>0</h3>
              <p>Не распределенные обращения</p>
            </div>
            <div class="icon">
              <i class="fas fa-info"></i>
            </div>
            <a href="{% url 'problems' 'noproblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-info" id="typroblem">
            <div class="inner">
              <h3>0</h3>
              <p>Обращения без ТУ</p>
            </div>
            <div class="icon">
              <i class="fas fa-info"></i>
            </div>
            <a href="{% url 'problems' 'typroblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
     <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-info" id="allproblem">
        <div class="inner">
          <h3>0</h3>
          <p>Всего не закрытых обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <a href="{% url 'problems' 'allproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-success" id="meproblem">
        <div class="inner">
          <h3>0</h3>
          <p>Моих обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a href="{% url 'problems' 'meproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="small-box bg-primary" id="podxproblem">
        <div class="inner">
          <h3>0</h3>
          <p>Подходит срок обращения</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'problems' 'podxproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-warning" id="todayproblem">
        <div class="inner">
          <h3>0</h3>
          <p>Обращения на сегодня</p>
        </div>
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <a href="{% url 'problems' 'todayproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-3">
      <div class="small-box bg-danger" id="prosrproblem">
        <div class="inner">
          <h3>0</h3>
          <p>Просроченных обращений</p>
        </div>
        <div class="icon">
          <i class="fas fa-ban"></i>
        </div>
        <a href="{% url 'problems' 'prosrproblem' %}" class="small-box-footer">
          Подробнее <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
</div>
    <div class="row">
        <div class="col ">
          <div class="small-box bg-info" id="fuproblem">
            <div class="inner">
              <h3></h3>
              <p>Обещанные обращения</p>
            </div>
            <div class="icon">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
            <a href="{% url 'problems' 'fuproblem' %}" class="small-box-footer">
              Подробнее <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
    </div>
