beautifulsoup4
bs4
DateTime
Django
django-bootstrap3
django-bootstrap4
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-filter
django-tables2
django-tinymce
django-grappelli
djangorestframework
django-webpush
lxml
matplotlib
numpy
Pillow
pytz
PyYAML
requests
selenium
tablib
urllib3
xlwt
reportlab
celery
redis
flower
gevent
gunicorn